# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Git
.gitignore-use


# Cache / logs
*.log
.cache/
.build/

# Bytecode compiled
*.egg-info/
.eggs/

# OS files
.DS_Store

# IDE folders
.vscode/
.idea/

# Docker artifacts
*.dockerfile.swp

.env
